# Requirements for building the documentation
sphinx==7.2.*
sphinx-book-theme==1.1.*
sphinx-copybutton==0.5.*
sphinx-design==0.5.*
jupyter-sphinx==0.5.*
ensaio
verde
pandas
matplotlib
xarray
netcdf4
pygmt==0.11.*
gmt==6.5.*
ipython
pymap3d>=2.9.0
